.header {
     box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    padding:50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.418);
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      position: relative;
      .logo{
        position: absolute;
        top:0;
        left:0;
      }
      
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      .option {
        padding: 10px 15px;
      }
    }
  }
  